<h1>Register to FeedMePosts</h1>
<p class="error">{{ ctrl.errormsg }}</p>
<form role="form">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" ng-model="ctrl.user.email"
      required="required">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model="ctrl.user.password"
      required="required"
      minLength="6">
  </div>

  <button type="submit" class="btn btn-default" ng-click="ctrl.register()">Register</button>
</form>
<a href="#"  ui-sref="login" >Already have an account? Login here.</a>