<div ng-show="navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <h3>Welcome to FeedMePosts!</h3>
      <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active"><a ui-sref="home.posts" href="#">Home</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="home.new_post" href="#">Create Post</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="profile" href="#">Profile</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="logout" href="#">Log Out</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="margins" ui-view></div>
