<!DOCTYPE html>
<html>
<head>
  <title>FeedMePosts</title>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css">
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
  
  <%= yield %>
</body>
</html>